Solution/_Debug/
Solution/_Release/
Solution/Supporting
Solution/WOT.Stats/Images/Tanks/*.png
Solution/packages/*
Solution/WOT.DBViewer/Packages
Release
Debug

*.ps1
*.licx
*Copy.*
*.exe


*.nupkg
.nuget
*.suo
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc


ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.psess
*.vsp
*.vspx




Solution/WOT.Stats/python/python27.dll
Desktop.ini
Solution/WOT.Stats/python/dossier.zip
